{% extends 'base.html.twig' %}

{% block title %}Calendar Index
{% endblock %}

{% block body %}
	<h1 class="text-center my-4">Calendar Index</h1>

	<div class="table-responsive">
		<table class="table table-hover">
			<thead class="table-dark">
				<tr>
					<th>Id</th>
					<th>Title</th>
					<th>Start</th>
					<th>End</th>
					<th>Description</th>
					<th>All Day</th>
					<th>Background Color</th>
					<th>Border Color</th>
					<th>Text Color</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for calendar in calendars %}
					<tr>
						<td>{{ calendar.id }}</td>
						<td>{{ calendar.title }}</td>
						<td>{{ calendar.start ? calendar.start|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ calendar.end ? calendar.end|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ calendar.description }}</td>
						<td>{{ calendar.allDay ? 'Yes' : 'No' }}</td>
						<td class="bg-color-cell" style="background-color: {{ calendar.backgroundColor }};"></td>
						<td class="bg-color-cell" style="background-color: {{ calendar.borderColor }};"></td>
						<td class="bg-color-cell" style="background-color: {{ calendar.textColor }};"></td>
						<td>
							<a href="{{ path('app_calendar_show', {'id': calendar.id}) }}" class="btn btn-primary btn-sm">Show</a>
							<a href="{{ path('app_calendar_edit', {'id': calendar.id}) }}" class="btn btn-secondary btn-sm">Edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="10">Aucun rendez-vous en cours
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<a href="{{ path('app_calendar_new') }}" class="btn btn-success">Create new</a>
{% endblock %}
