{% extends 'base.html.twig' %}

{% block title %}Votre RDV
{% endblock %}

{% block body %}
	{% include "commons/_ceo_navbar.html.twig" %}
	<h1 class="my-4 text-center">Votre Date</h1>

	<table class="table table-striped">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ calendar.id }}</td>
			</tr>
			<tr>
				<th>Titre</th>
				<td>{{ calendar.title }}</td>
			</tr>
			<tr>
				<th>Date de début</th>
				<td>{{ calendar.start ? calendar.start|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Date de fin</th>
				<td>{{ calendar.end ? calendar.end|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ calendar.description }}</td>
			</tr>
			<tr>
				<th>Toute la journée</th>
				<td>{{ calendar.allDay ? 'Oui' : 'Non' }}</td>
			</tr>
			<tr>
				<th>Couleur de fond</th>
				<td>
					<span class="badge" style="background-color: {{ calendar.backgroundColor }};">&nbsp;</span>
					{# {{ calendar.backgroundColor }} #}
				</td>
			</tr>
			<tr>
				<th>Couleur de bordure</th>
				<td>
					<span class="badge" style="background-color: {{ calendar.borderColor }};">&nbsp;</span>
					{# {{ calendar.borderColor }} #}
				</td>
			</tr>
			<tr>
				<th>Couleur de text</th>
				<td>
					<span class="badge" style="background-color: {{ calendar.textColor }}; color: #fff;">&nbsp;</span>
					{# {{ calendar.textColor }} #}
				</td>
			</tr>
		</tbody>
	</table>

	<div class="text-center mt-4">
		<a href="{{ path('app_calendar_index') }}" class="btn btn-secondary me-2">Retour à la liste des RDV</a>
		<a href="{{ path('app_calendar_edit', {'id': calendar.id}) }}" class="btn btn-primary me-2">Modifier</a>
		{{ include('calendar/_delete_form.html.twig') }}
	</div>
{% endblock %}
