{% extends 'base.html.twig' %}
{% block title %}Edition de votre profil{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="mb-4">Formulaire Utilisateur</h1>
        {{ form_start(form, {'attr': {'class': 'row g-3'}}) }}
        <div class="col-md-6">
            {{ form_row(form.email, {'label': 'Email', 'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.firstname, {'label': 'Prénom', 'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.lastname, {'label': 'Nom', 'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.text, {'label': 'Description', 'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.social, {'label': 'Réseaux Sociaux', 'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.specialty, {'label': 'Spécialité', 'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary mt-3">Enregistrer</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
