{% extends 'base.html.twig' %}

{% block title %}Instagram Stats{% endblock %}

{% block body %}
    <div class="container py-5">
        <h1 class="mb-5 text-center">Instagram Insights</h1>

        <div class="card mb-4">
            <div class="card-header">
                <h2 class="h4">Overview</h2>
            </div>
            <div class="card-body w-75">
                <canvas id="overviewChart"></canvas>
                <script>
                    let ctx = document.getElementById('overviewChart').getContext('2d');
                    let overviewChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ['Total Likes', 'Followers'],
                            datasets: [{
                                label: ['Nombre de likes','Nombre de followers'],
                                data: [{{ totalLikes }}, {{ totalFollowers }}],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                </script>
            </div>
        </div>

        <div class="card mb-4 d-flex">
            <div class="card-header">
                <h3 class="h5">Latest Media</h3>
            </div>
            <ul class="list-group list-group-flush d-flex flex-row">
                {% for media in latestMedia %}
                    <li class="list-group-item w-100 ">
                        <img src="{{ media.media_url }}" alt="Instagram Media" class="float-start me-3 mb-2 rounded" style="width: 200px;">
                        <p><strong>Likes:</strong> {{ media.like_count }}</p>
                        <p><strong>Insights:</strong></p>
                        <ul>
                            {% for insight in media.insights %}
                                <li>{{ insight.name }}: {{ insight.values[0].value }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <h3 class="h5">30-Day Impressions</h3>
            </div>
            <div class="card-body w-50">
                <canvas id="impressionsChart"></canvas>
            </div>
            <ul class="list-group list-group-flush">
                {% for insight in instagramInsightsLast30Days %}
                    <li class="list-group-item">{{ insight.name }} ({{ insight.period }}): {{ insight.values[0].value }}</li>
                {% endfor %}
            </ul>
        </div>


        {% if insights %}
            <div class="card">
                <div class="card-header">
                    <h3 class="h5">Account Insights</h3>
                </div>
                <ul class="list-group list-group-flush">
                    {% for insight in insights %}
                        <li class="list-group-item">{{ insight.name }} ({{ insight.period }}): {{ insight.values[0].value }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        var ctx = document.getElementById('impressionsChart').getContext('2d');
        var impressionsChart = new Chart(ctx, {
        type: 'radar',
        data: {
        labels: [
{% for insight in instagramInsightsLast30Days %}
    "{{ insight.name }}",
{% endfor %}
],
datasets: [{
label: 'Daily Impressions',
data: [
    {% for insight in instagramInsightsLast30Days %}
        {{ insight.values[0].value }},
    {% endfor %}
],
backgroundColor: 'rgba(255, 99, 132, 0.5)',
borderColor: 'rgba(255, 99, 132, 1)',
pointBackgroundColor: 'rgba(255, 99, 132, 1)',
pointBorderColor: '#fff',
pointHoverBackgroundColor: '#fff',
pointHoverBorderColor: 'rgba(255, 99, 132, 1)'
}]
},
options: {
elements: {
line: {
    borderWidth: 3
}
}
}
});
});
</script>

{% endblock %}