{% extends "base.html.twig" %}
{% block title %}Gérer les influenceurs
{% endblock %}
{% block body %}
{{ render(controller('App\\Controller\\Admin\\AdminCeoController::navbar')) }}	<div class="container py-4">
		<div class="row justify-content-center">
			<div class="col-6">
				<form id="searchForm" class="d-flex form-floating">
					<input type="text" name="keyword" class="form-control rounded-pill me-2" id="floatingInput" placeholder="Rechercher un influenceur..." autocomplete="off" style="width: 50%;">
					<label for="floatingInput">Rechercher</label>
					<button type="button" class="btn btn-primary rounded-pill">Rechercher</button>
				</form>
			</div>
		</div>
	</div>
	{% if results %}
		<a href="{{path('ceo_manage_influencer')}}">Retour</a>
		<div class="container py-4">
			<div class="row row-cols-1 row-cols-md-3 g-4">
				{% for influencer in results %}
					<div class="col">
						<a href="{{ path('ceo_influencer_show', {'id': influencer.id}) }}" class="text-decoration-none text-dark">
							<div class="card h-100 shadow {{ influencer.isFamous ? 'border-warning' : '' }}" style="{{ influencer.isFamous ? 'border-width:2px;' : '' }}">
								{% for media in influencer.images %}
									<img src="{{ asset('assets/uploads/' ~ media.getImages()) }}" class="card-img-top rounded-circle img-fluid w-50 h-auto mx-auto mt-3">
								{% endfor %}
								<div class="card-body text-center">
									<h5 class="card-title">{{ influencer.firstname }}
										{{ influencer.lastname }}</h5>
								</div>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
		{% else %}


			<div class="container py-4">
				<div class="row row-cols-1 row-cols-md-3 g-4">
					{% for influencer in influencers %}
						<div class="col">
							<a href="{{ path('ceo_influencer_show', {'id': influencer.id}) }}" class="text-decoration-none text-dark">
								<div class="card h-100 shadow {{ influencer.isFamous ? 'border-warning' : '' }}" style="{{ influencer.isFamous ? 'border-width:2px;' : '' }}">
									{% for media in influencer.images %}
										<img src="{{ asset('assets/uploads/' ~ media.getImages()) }}" class="card-img-top rounded-circle img-fluid w-50 h-auto mx-auto mt-3">
									{% endfor %}
									<div class="card-body text-center">
										<h5 class="card-title">{{ influencer.firstname }}
											{{ influencer.lastname }}</h5>
									</div>
								</div>
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
		{% endif %}
	{% endblock %}
