{% extends "base.html.twig" %}
{% block title %}Bonjour
{% endblock %}
{% block body %}
	{{ render(controller('App\\Controller\\Admin\\AdminCeoController::navbar')) }}
	<div class="container mt-4">
		{% set noCandidatureDisplayed = true %}

		<div class="row">
			{% for candidate in candidates %}
				{% if 'ROLE_INFLUENCER' not in candidate.user.roles %}
					<div class="col-md-6 col-lg-4 mb-4">
						<div class="card h-100 shadow-sm position-relative">
							{% if candidate.notification and candidate.notification.isIsNew == 1 and candidate.notification.isIsSeen == 0 %}
								<span class="badge bg-danger text-white position-absolute" style="top: -10px; right: -10px;">Nouveau</span>
							{% endif %}
							<div class="card-body">
								<h5 class="card-title">{{ candidate.user.firstname }}
									{{ candidate.user.lastname }}</h5>
								<p class="card-text">
									<strong>Email :</strong>
									{{ candidate.email }}</p>
								<p class="card-text">
									<strong>Motif :</strong>
									{{ candidate.motif.motifInfluencer }}</p>
							</div>
							<div class="card-footer bg-transparent">
								<div class="d-flex justify-content-between">
									<a href="{{ path('ceo_candidate_show', {'id': candidate.id}) }}" class="btn btn-outline-primary btn-sm">
										Voir la candidature
									</a>
									<a href="{{ path('ceo_candidate_delete', {'id': candidate.id}) }}" class="btn btn-outline-danger btn-sm">
										Ne pas retenir
									</a>
								</div>
							</div>
						</div>
					</div>
					{% set noCandidatureDisplayed = false %}
				{% endif %}
			{% endfor %}
		</div>

		{% if noCandidatureDisplayed %}
			<h1 class="text-center mt-5">Vous n'avez pas de candidature</h1>
		{% endif %}
	</div>
{% endblock %}
