{% extends "base.html.twig" %}

{% block title %}Candidature
{% endblock %}

{% block body %}
	{% include "commons/_ceo_navbar.html.twig" %}

	<div class="container mt-4">
		<div class="row">
			<div class="col-md-6">
				<h2>{{ candidate.email }}</h2>
				<p>{{ candidate.motif.motifInfluencer }}</p>
				<h4>Comment nous a-t-il connus ?</h4>
				<p>{{ candidate.answer }}</p>
				<p>{{ candidate.phone }}</p>
				<p>{{ candidate.text }}</p>
			</div>
			<div class="col-md-6">
				{% if candidate.motif.id == 2 %}
					<p>Aucun CV n'a été envoyé avec la demande
					</p>
				{% else %}
					<h4>CV</h4>
					<embed src="{{ asset('assets/uploads/' ~ candidate.cv) }}" type="application/pdf" width="100%" height="600px"/>
					<a href="{{path('ceo_set_influencer', {id: candidate.id})}}" class="btn btn-primary">Devenir influenceur</a>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
