{% extends "base.html.twig" %}
{% block title %}Bonjour{% endblock %}
{% block body %}
	{{ render(controller('App\\Controller\\Admin\\AdminCeoController::navbar')) }}
	<div class="container mt-4 w-75" style="margin-left: 250px">
		{% if contacts is empty %}
			<div class="alert alert-info" role="alert">
				Aucune demande disponible.
			</div>
		{% else %}
			{% for contact in contacts %}
				{% if 'ROLE_INFLUENCER' not in contact.user.roles %}
					<div class="card mb-3 shadow">
						<div class="card-body">
							<h5 class="card-title">{{ contact.user.firstname }} {{ contact.user.lastname }}</h5>
							<p class="card-text">
								<strong>Email :</strong> {{ contact.email }}
							</p>
							<p class="card-text">
								<strong>Motif :</strong> {{ contact.motif.motifInfluencer }}
							</p>
							<div class="d-flex justify-content-between">
								<a href="{{ path('ceo_candidate_show', {'id': contact.id}) }}" class="btn btn-primary">
									Voir la demande
								</a>
								<a href="{{ path('ceo_candidate_delete', {'id': contact.id}) }}" class="btn btn-danger">
									Supprimer la demande
								</a>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		{% endif %}
	</div>

{% endblock %}
