{% extends 'base.html.twig' %}

{% block title %}Articles Archivés
{% endblock %}

{% block body %}
    {# Inclusion de la barre de navigation #}
    {% include "commons/_navbar.html.twig" %}
    <body class="body-archived">
    {% include "commons/_breadcrumbs.html.twig" %}

    <div class="container">
        <h1 class="h1-blog-archived mb-5">Articles Archivés</h1>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            {% for archive in archived %}
                <div class="col">
                    <div class="card blog-card">
                        <img src="{{ asset('assets/uploads/' ~ archive.image) }}" class="card-img-top"
                             alt="{{ archive.title }}">
                        <div class="card-body">
                            <h5 class="card-title title-article-archive">{{ archive.title }}</h5>
                            <p class="card-text">{{ archive.createdAt|date('Y-m') }}</p>
                            <a href="{{ path('blog_archive', {id: archive.id}) }}"
                               class="archived-button">Voir l'article</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% include "commons/_footer.html.twig" %}
    </body>

{% endblock %}
