{% extends 'base.html.twig' %}

{% block title %}Derniers Articles
{% endblock %}

{% block body %}
	{# Inclusion de la barre de navigation #}
	{% include "commons/_navbar.html.twig" %}

	<div class="container">
		<h1>Articles</h1>

		{# Barre de recherche simple avec Bootstrap
		    cf. Controller/BlogController.php -> Route: 'blog_index' #}
		<div class="container m-3">
			<form action="{{ path('blog_index') }}" method="GET" class="row justify-content-end">
				<div class="col-auto">
					<div class="input-group">
						<input type="text" name="keyword" class="form-control" placeholder="Rechercher...">
						<div class="input-group-append">
							<button type="submit" class="btn btn-primary">Rechercher</button>
						</div>
					</div>
				</div>
			</form>
		</div>

		{# Affichage des resultats en fonction de la recherche précédente
		  cf. Controller/BlogController.php -> Route: 'blog_index' #}
		{% if results %}
			<a class="btn btn-primary m-3" href="{{ path('blog_index') }}">Retour aux articles</a>
			<h2>Résultats de la recherche :</h2>

			<div class="row row-cols-1 row-cols-md-4 g-4">
				{% for article in results %}
					<div class="col">
						<div class="card">
							<img src="{{ asset('assets/uploads/' ~ article.image) }}" class="card-img-top" alt="{{ article.title }}">
							<div class="card-body">
								<h5 class="card-title">{{ article.title }}</h5>
								<p class="card-text">{{ article.createdAt|date('Y-m') }}</p>
								<a href="{{ path('blog_show', {id: article.id}) }}" class="btn btn-primary stretched-link">Voir l'article</a>
							</div>
						</div>
					</div>
				{% endfor %}
				{# Si je n'affiche pas de résultat j'affiche le reste des cards #}
			{% else %}

				{% if is_granted('ROLE_EDITOR') %}
					<a href="{{ path('blog_add') }}" class="btn btn-success m-2">Créer un nouvel article</a>
				{% endif %}
				{% if blogs is empty %}
					<p>Pas d'article disponible pour le moment.</p>
				{% else %}
					<div class="row row-cols-1 row-cols-md-4 g-4">
						{% for blog in blogs %}
							<div class="col">
								<div class="card">
									<img src="{{ asset('assets/uploads/' ~ blog.image) }}" class="card-img-top" alt="{{ blog.title }}">
									<div class="card-body">
										<h5 class="card-title">{{ blog.title }}</h5>
										<p class="card-text">{{ blog.createdAt|date('Y-m') }}</p>
										<a href="{{ path('blog_show', {id: blog.id}) }}" class="btn btn-primary stretched-link">Voir l'article</a>
									</div>
								</div>
								{% if is_granted('ROLE_EDITOR') %}
									<a href="{{ path('blog_edit', {id: blog.id}) }}" class="btn btn-warning mt-2">Modifier l'article</a>
								{% endif %}
							</div>
						{% endfor %}
					</div>
					<div class="navigation d-flex justify-content-center m-5">
						{{ knp_pagination_render(blogs) }}
					</div>
				{% endif %}
			</div>
		{% endif %}
	{% endblock %}
