<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}MEROS
			{% endblock %}
		</title>

		{# Initialisation fichier CSS #}
		<link
		rel="stylesheet" href="{{asset('assets/css/style.css')}}">

		{# Initialisation fichier Bootstrap #}
		<link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}">
		<link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css.map')}}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"> {% block stylesheets %}{% endblock %}

		{# Initialisation fichier JS #}
		<script src="{{asset('assets/javascript/bootstrap.bundle.min.js')}}"></script>
		<script src="{{asset('assets/javascript/bootstrap.bundle.min.js.map')}}"></script>
		{% block cdn %}{% endblock %}
	</head>
	<body>
		{% include "commons/_flash.html.twig" %}
		{% block body %}{% endblock %}

		{# Initialisation fichier JS #}
		{% block javascript %}{% endblock %}
	</body>
</html>
