{% extends "base.html.twig" %}
{% block title %}
	Agence - Stratégies de Marketing d’influence et Promotion sur les Réseaux Sociaux | MEROS
{% endblock %}
{% block meta %}
	<meta name="description" content="Découvrez MEROS, votre agence spécialisée en stratégies de marketing d’influence et de promotion sur les réseaux sociaux. Augmentez votre visibilité et collaborez avec les meilleurs ambassadeurs de marque pour des campagnes percutantes et réussies.”">
{% endblock %}
{% block body %}
	{% include 'commons/_navbar.html.twig' %}
	<div class="h1-h3-image-header">
		<div class="h1-h3">
			<h3>L'agence qui te correspond !</h3>
			<h1 class="fs-2">Rejoignez Notre Agence spécialisée dans la stratégie de marketing d’influence à Bordeaux, <span class="highlight-meros-span">Meros</span></h1>
			<p>Bienvenue chez Meros Production,
				votre partenaire de confiance en marketing d'influence.
				Basée à Bordeaux, notre agence se spécialise dans la collaboration avec des influenceurs talentueux.
				Chacun est une référence dans son domaine. Pour promouvoir vos marques et produits,
				nous mettons en place des campagnes d’influence efficaces.
			</p>
		</div>
		<div class="landing-image-9">
			<img src="{{ asset('assets/images/perso.webp') }}" class="" alt="9 personnages représentant femmes et hommes de manière minimaliste">
		</div>
	</div>
	<section class="section-card-about">
		<div class="card">
			<div class="card-body">
				<img src="{{ asset('assets/images/eurolanding.webp') }}" class="img1" alt="icone euros orange">
				<h2 class="card-title fs-4">Partenariats avec des influenceurs pour des campagnes personnalisées </h2>
				<p class="card-text">Nous croyons en la puissance des partenariats authentiques. Nos collaborations sont conçues pour s'aligner parfaitement avec les valeurs et les objectifs de votre marque, garantissant ainsi des résultats optimaux et une promotion authentique de vos produits. <br>
					<br>Nous établissons ensemble une ligne directrice pour notre influenceur. Nous déterminons ensemble s’il y a des éléments qui doivent rester confidentiels, tout en laissant libre court à l’imagination de notre influenceur, ainsi qu’à sa touche personnelle et à sa propre ligne éditoriale.
				</p>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<img src="{{ asset('assets/images/awardlanding.webp') }}" class="img2" alt="icone stratégie orange">
				<h2 class="card-title fs-4">Collaboration avec des influenceurs de premier plan</h2>
				<p class="card-text ">Chez Meros Production, nous avons construit un réseau solide d'influenceurs en France, couvrant divers secteurs et plateformes, comme Instagram et Tik Tok. Que vous soyez une entreprise B2C cherchant à atteindre un large public ou une entreprise cherchant à cibler des niches spécifiques, nous avons les partenaires idéaux pour vous, en passant par la restauration, au sport, à la mode et bien d’autres encore.</p>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<img src="{{ asset('assets/images/arrowuplanding.webp') }}" class="img3" alt="icone développement orange">
				<h2 class="card-title fs-4">Réseaux d'influenceurs diversifiés</h2>
				<p class="card-text">Notre agence travaille avec des influenceurs sur Instagram et TikTok. Grâce à notre vaste réseau, nous pouvons vous connecter avec des influenceurs qui résonnent avec votre marque et votre audience cible.<br>
					<br>Quel que soit votre domaine, nous avons tous les secrets nécessaires pour vous aider à vous démarquer, à promouvoir votre marque, mais également à créer de l’engouement autour de nos influenceurs.
				</p>
			</div>
		</div>
	</section>
	<section class="background-style">
	</section>
	<section class="section-people-filming">
		<img src="{{ asset('assets/images/people-filming.png') }}" class="img-landing-2" alt="image de 3 personnages représentant des femmes et hommes de manière minimaliste">
		<div class="h3-h2">
			<h3>L'influence made in <span class="highlight-meros-span">Meros</span></h3>
			<h2>Marketing d'influence pour entreprises</h2>
			<p>Notre expertise en marketing digital nous permet de créer des campagnes d'influence sur mesure qui répondent aux besoins uniques de votre entreprise. Voici comment nous pouvons vous aider à promouvoir votre marque avec succès.</p>
		</div>
	</section>
	<section class="cards6-section">
		<div class="h3-h2-cards6-section">
			<h3>Concrétiser vos besoins</h3>
			<h2>Nous vous accompagnons</h2>
		</div>
		<div class="cards-cards6">
			<div class="card-1">
				<div class="card-body">
						<img src="{{ asset('assets/images/administratif.webp') }}" class="img-cards6" alt="icone gestion administrative">
					<div class="img-title-cards6">
						<h3 class="card-title">Promouvoir sa marque avec des influenceurs</h3>
						<p class="card-text">Utiliser des influenceurs pour promouvoir votre marque est une stratégie éprouvée pour augmenter la visibilité et la crédibilité. Nous sélectionnons soigneusement les influenceurs dont l'audience correspond à vos clients cibles, garantissant ainsi un impact maximal.</p>
					</div>
				</div>
			</div>
			<div class="card-1">
				<div class="card-body">
						<img src="{{ asset('assets/images/manager.webp') }}" class="img-cards6" alt="îcone stratégie orange">
					<div class="img-title-cards6">
						<h3 class="card-title">Campagnes d'influence efficaces</h3>
						<p class="card-text">Nous concevons et gérons des campagnes d'influence de bout en bout. De la stratégie initiale à la mise en œuvre et au suivi des résultats, nous nous assurons que chaque campagne est optimisée pour atteindre vos objectifs marketing.</p>
					</div>
				</div>
			</div>
			<div class="card-1">
				<div class="card-body">
						<img src="{{ asset('assets/images/visual_identity.webp') }}" class="img-cards6" alt="icone stratégie orange">
					<div class="img-title-cards6">
						<h3 class="card-title">Marketing digital à bordeaux et au-delà</h3>
						<p class="card-text">Bien que notre agence soit basée à Bordeaux, notre portée est nationale. Nous comprenons les nuances du marketing local et national, ce qui nous permet de créer des stratégies de marketing digital adaptées à chaque marché</p>
					</div>
				</div>
			</div>
			<div class="card-1">
				<div class="card-body">
						<img src="{{ asset('assets/images/worth.webp') }}" class="img-cards6" alt="icone stratégie orange">
					<div class="img-title-cards6">
						<h3 class="card-title">Pourquoi rejoindre notre agence d'influence ?</h3>
						<p class="card-text">Pour les influenceurs, rejoindre notre agence signifie faire partie d'un réseau dynamique et bénéficier de collaborations enrichissantes avec des marques prestigieuses.</p>
					</div>
				</div>
			</div>
			<div class="card-1">
				<div class="card-body">
						<img src="{{ asset('assets/images/strat.webp') }}" class="img-cards6" alt="icone stratégie orange">
					<div class="img-title-cards6">
						<h3 class="card-title">Gestion de la stratégie de contenu</h3>
						<p class="card-text">Nous vous proposons une stratégie claire qui correspond à vos besoins. Nous allons gérer votre présence en ligne en mettant à votre disposition des outils professionnels. Vous serez alors cohérent(e) vis-à-vis du marché de l'influence. </p>
					</div>
				</div>
			</div>
			<div class="card-1">
				<div class="card-body">
						<img src="{{ asset('assets/images/duo.webp') }}" class="img-cards6" alt="icone stratégie orange">
					<div class="img-title-cards6">
						<h3 class="card-title"> Promotion de produits par des influenceurs</h3>
						<p class="card-text">Les influenceurs de notre agence sont régulièrement sollicités pour des campagnes de promotion de produits. En rejoignant notre réseau, vous aurez l'occasion de collaborer avec des marques qui correspondent à vos intérêts et à votre audience.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="influencer-landing mt-5">
		<div class="h3-h2-influenceur">
			<h3>Nos Influenceurs</h3>
			<h2>Ils nous font confiance</h2>
		</div>
		<div class="container mt-5 section-influenceur">
			{% for influencer in influencers %}
				{% if influencer.isFamous %}
				<div class="card mb-3 card-influencer">
					<div class="card-body">
						<div class="img-firstname-influencer">
							{% if influencer.images|length > 0 %}
							{% for image in influencer.images %}
								<img src="{{ asset('assets/uploads/' ~  image.getImages())}}" class="rounded-circle float-start me-3" style="width: 80px; height: 80px;" alt="Image de {{ influencer.firstname }} {{ influencer.lastname }}">
							{% endfor %}
							{% else %}
								<img src="{{ asset('assets/images/default_avatar.webp') }}" class="rounded-circle float-start me-3" style="width: 100px; height: 100px;">
							{% endif %}
							<h5 class="card-title">{{ influencer.firstname }} {{ influencer.lastname }}</h5>
						</div>

						<div class="mt-4 specialty-influencer">
							<p class="category-specialty">Ses spécialités</p>
							{% if influencer.specialty|length > 0 %}
							{% for specialty in influencer.specialty %}
								<span class="badge rounded-pill border bg-white text-black shadow-sm p-2 me-2">#{{ specialty.name }}</span>
							{% endfor %}
							{% else %}
								<p>Désolé, {{ influencer.firstname }} n'a pas encore renseigné cette information </p>
							{% endif %}
						</div>
						<div class="social-links mt-3 ">
							<p class="category-social">Ses réseaux sociaux</p>
							{% if influencer.social|length > 0 %}
							{% for social in influencer.social %}
								{% if social.instagram %}
									<div class="social-link card">
										<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="32" height="32" viewBox="0 0 48 48">
											<radialGradient id="yOrnnhliCrdS2gy~4tD8ma_Xy10Jcu1L2Su_gr1" cx="19.38" cy="42.035" r="44.899" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fd5"></stop><stop offset=".328" stop-color="#ff543f"></stop><stop offset=".348" stop-color="#fc5245"></stop><stop offset=".504" stop-color="#e64771"></stop><stop offset=".643" stop-color="#d53e91"></stop><stop offset=".761" stop-color="#cc39a4"></stop><stop offset=".841" stop-color="#c837ab"></stop></radialGradient><path fill="url(#yOrnnhliCrdS2gy~4tD8ma_Xy10Jcu1L2Su_gr1)" d="M34.017,41.99l-20,0.019c-4.4,0.004-8.003-3.592-8.008-7.992l-0.019-20	c-0.004-4.4,3.592-8.003,7.992-8.008l20-0.019c4.4-0.004,8.003,3.592,8.008,7.992l0.019,20	C42.014,38.383,38.417,41.986,34.017,41.99z"></path><radialGradient id="yOrnnhliCrdS2gy~4tD8mb_Xy10Jcu1L2Su_gr2" cx="11.786" cy="5.54" r="29.813" gradientTransform="matrix(1 0 0 .6663 0 1.849)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#4168c9"></stop><stop offset=".999" stop-color="#4168c9" stop-opacity="0"></stop></radialGradient><path fill="url(#yOrnnhliCrdS2gy~4tD8mb_Xy10Jcu1L2Su_gr2)" d="M34.017,41.99l-20,0.019c-4.4,0.004-8.003-3.592-8.008-7.992l-0.019-20	c-0.004-4.4,3.592-8.003,7.992-8.008l20-0.019c4.4-0.004,8.003,3.592,8.008,7.992l0.019,20	C42.014,38.383,38.417,41.986,34.017,41.99z"></path><path fill="#fff" d="M24,31c-3.859,0-7-3.14-7-7s3.141-7,7-7s7,3.14,7,7S27.859,31,24,31z M24,19c-2.757,0-5,2.243-5,5	s2.243,5,5,5s5-2.243,5-5S26.757,19,24,19z"></path><circle cx="31.5" cy="16.5" r="1.5" fill="#fff"></circle><path fill="#fff" d="M30,37H18c-3.859,0-7-3.14-7-7V18c0-3.86,3.141-7,7-7h12c3.859,0,7,3.14,7,7v12	C37,33.86,33.859,37,30,37z M18,13c-2.757,0-5,2.243-5,5v12c0,2.757,2.243,5,5,5h12c2.757,0,5-2.243,5-5V18c0-2.757-2.243-5-5-5H18z"></path>
										</svg>
										<a href="{{ social.instagram }}" target="_blank" class="stretched-link">Instagram</a>
									</div>
									{% else %}
									<p>Désolé, {{ influencer.firstname }} n'a pas encore renseigné d'Instagram </p>

								{% endif %}
								{% if social.tiktok %}
									<div class="social-link card">
										<svg height="32" viewBox="-58.35000000000002 -186.70564362582354 2548.289756960746 2538.849821747569" width="32" xmlns="http://www.w3.org/2000/svg"><g fill="#25f4ee"><path d="M779.38 890.55v-88.12a650.81 650.81 0 0 0-92.45-7.94c-299.8-.64-565.22 193.64-655.25 479.6S47.92 1871.34 294 2042.56a684.7 684.7 0 0 1 485.36-1152z"/><path d="M796 1888.72c167.62-.23 305.4-132.28 312.74-299.74V94.62h273A512.17 512.17 0 0 1 1373.8 0h-373.41v1492.92c-6.21 168.31-144.32 301.63-312.74 301.9a317.76 317.76 0 0 1-144.45-36.11A313.48 313.48 0 0 0 796 1888.72zM1891.66 601.64v-83.06a509.85 509.85 0 0 1-282.4-85.22 517.79 517.79 0 0 0 282.4 168.28z"/></g><path d="M1609.26 433.36a514.19 514.19 0 0 1-127.84-339.47h-99.68a517.16 517.16 0 0 0 227.52 339.47zM686.93 1167.9a313.46 313.46 0 0 0-144.46 590.81A312.75 312.75 0 0 1 796 1262.51a329.69 329.69 0 0 1 92.44 14.49V897.05a654.77 654.77 0 0 0-92.44-7.22h-16.62v288.9a321.13 321.13 0 0 0-92.45-10.83z" fill="#fe2c55"/><path d="M1891.66 601.64v288.91a886.23 886.23 0 0 1-517.86-168.29v759.1c-.8 378.78-308.09 685.43-686.87 685.43A679.65 679.65 0 0 1 294 2042.56 685.43 685.43 0 0 0 1481.42 1576V819.05A887.71 887.71 0 0 0 2000 985.17v-372a529.59 529.59 0 0 1-108.34-11.53z" fill="#fe2c55"/><path d="M1373.8 1481.36v-759.1a886.11 886.11 0 0 0 518.58 166.12v-288.9a517.87 517.87 0 0 1-283.12-166.12 517.16 517.16 0 0 1-227.52-339.47h-273V1589a313.46 313.46 0 0 1-567 171.17 313.46 313.46 0 0 1 144.46-590.83 321.35 321.35 0 0 1 92.45 14.45V894.88A684.71 684.71 0 0 0 293.29 2050.5a679.65 679.65 0 0 0 393.64 116.29c378.78 0 686.07-306.65 686.87-685.43z"/></svg>
										<a href="{{ social.tiktok }}" target="_blank" class="stretched-link">TikTok</a>
									</div>
									{% else %}
									<p>Désolé, {{ influencer.firstname }} n'a pas encore renseigné de TikTok </p>
								{% endif %}

							{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
				{% endif %}
			{% endfor %}
		</div>
	</section>

	<section class="d-flex flex-column align-items-center p-3 section-two-buttons">
		<div class="text-center w-50">
			<h4 class="card-title">Contactez Nous</h4>
			<p class="px-3">Prêt à donner un coup de pouce à votre stratégie marketing ou à rejoindre notre réseau d'influenceurs ? Contactez-nous dès aujourd'hui et découvrez comment Meros Production peut faire la différence pour vous.</p>
		</div>
		<div class="d-flex justify-content-center gap-3">
			<a href="{{ path('contact_company_index') }}" class="submit-subscribe">Pour les entreprises</a>
			<a href="{{ path('contact_influencer_index') }}" class="submit-subscribe">Pour les influenceurs</a>
		</div>
	</section>
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Bienvenu ! </h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					⚠️ Ce site est purement fictif et a été réalisé dans le cadre d'un projet d'étude.⚠️ <br>
					Si vous avez besoin d'accès spéciaux ou n'importe quel besoin d'informations envoyer un mail à <a href="mailto:maxence.hattabi@gmail.com">maxence.hattabi@gmail.com</a><br>
					Le code est entiérement disponible sur <a href="https://github.com/MaxenceCodeFR/MEROSproduction" target="_blank">GitHub</a> <br>
					Merci de votre compréhension.<br>
					<br>
					Enjoy 🫶
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
				</div>
			</div>
		</div>
	</div>


	{% include "commons/_footer.html.twig" %}

{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{{ asset('assets/javascript/tilt.js') }}"></script>
<script type="text/javascript">
	VanillaTilt.init(document.querySelectorAll(".card"), {
		max: 10,
		speed: 400,
	});
</script>
<script>
document.addEventListener('DOMContentLoaded', function () {
    var myModal = new bootstrap.Modal(document.getElementById('exampleModal'), {
      keyboard: false
    });
    myModal.show();
  });
</script>
{% endblock %}


