<button class="btn btn-primary button-off-canva-nav-influencer" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
		<path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
	</svg>Menu
</button>
<div class="offcanvas offcanvas-start show" data-bs-scroll="true" data-bs-backdrop="false" tabindex="1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
	<div class="offcanvas-header">
		<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		<h5 class="offcanvas-title" id="offcanvasScrollingLabel">Tableau de bord</h5>
	</div>
	<div class="offcanvas-body">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="{{ path('influencer_index') }}">Accueil</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('influencer_profil') }}">Profil</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('influencer_contracts') }}">Contrats</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('calendar') }}">Calendrier</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('instagram_stats') }}">Statistique</a>
			</li>
			<li class="nav-item mt-5">
				<a class="btn btn-danger" href="{{ path('logout') }}">Déconnexion</a>
			</li>
		</ul>
		<div class="offcanvas-footer">
			{% for media in app.user.images %}
				{% if media is empty %}
				<p>Vous n'avez pas renseigné d'image</p>
				{% endif %}
				<a href="{{ path('influencer_profil') }}">
					<img src="{{ asset('assets/uploads/' ~ media.getImages()) }}" class="rounded-circle img-fluid">
				</a>
			{% endfor %}
		</div>
	</div>
</div>
