{% extends 'base.html.twig' %}

{% block title %}Devenir Influenceur{% endblock %}

{% block body %}
    

{% form_theme form with [
    'bootstrap_5_layout.html.twig'
] %}

{% include "commons/_navbar.html.twig" %}

<div class="container">
    <h1>Contact Influencer</h1>

    {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}

    <div class="mb-3">
        {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
        {{ form_row(form.motif, {'attr': {'class': 'form-select'}}) }}
    </div>

    <div class="mb-3">
    {{ form_label(form.answer, 'Comment avez-vous connu Meros ?', {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.answer, {'attr': {'class': 'form-control'}}) }}
    </div>


    <div class="mb-3">
        {{ form_row(form.text, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
        {{ form_row(form.cv, {'attr': {'class': 'form-control'}}) }}
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

    {{ form_end(form) }}
</div>

{% endblock %}
